html {
  font-family: 'Noto Sans', sans-serif;
}

.jp-font {
  font-family: 'Noto Sans JP', sans-serif;
}

li {
  border-style: solid;
  border-color: #8bc9d9;
  border-bottom-width: 2px;
  border-left: 0;
  border-top: 0;
  border-right: 0;
}

.border-tb {
  border-style: solid;
  border-color: #e2e2e2;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-left: 0;
  border-right: 0;
}
