html {
  font-family: 'Noto Sans', sans-serif;
}

.jp-font {
  font-family: 'Noto Sans JP', sans-serif;
}

li {
  border-style: solid;
  border-color: #8bc9d9;
  border-width: 0 0 2px;
}

li:hover {
  border-color: #000;
}

a {
  color: #005e76;
}

a:hover {
  color: #000;
}

.border-tb {
  border-style: solid;
  border-color: #e2e2e2;
  border-width: 2px 0 2px;
}

.btn-ghost {
  border-color: #8bc9d9;
  color: #0084a6;
}

.btn:hover {
  background-color: #005e76;
  color: #e2e2e2;
  border-color: #005e76;
}

footer {
  color: #000;
  border-style: solid;
  border-color: #e2e2e2;
  border-width: 2px 0 0;
}

@media only screen and (min-width: 38em) {



}
